{% extends 'base.html' %}
{% block head %}
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="/article/index">Home</a></li>
    <li role="presentation" class="active"><a href="/user/info">Private</a></li>
    <li role="presentation"><a href="/article/post">Blog</a></li>
</ul>
{% endblock %}
{% block content %}
<div style="float: left;width: 40%;">
    <table>
        <tr><td align="center">
            {% if user.photo != 0 %}
            <img style="width: 200px;height:200px;border-radius: 100px;" src="static/img/{{ user.username }}.jpg">
            {% else %}
            <img style="width: 200px;height:200px;border-radius: 100px;" src="static/img/default.jfif">
            {% endif %}
        </td></tr>
        <tr><td align="center">
            <a href="/user/modify?uid={{ user.uid }}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td align="center">{{ user.username }}</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td align="center">
            <a href="/user/logout"><button class="btn btn-default">退出登陆</button></a>
        </td></tr>
    </table>
</div>
<div style="float: left;width: 40%;">
    <h1>我的最近更新</h1>
    <table class='table table-hover'>
        {% for item in data %}
        <tr><td><a href="/user/read?username={{ item.username }}&date={{ item.date }}">{{ item.title }}</a></td></tr>
        {% else %}
        <tr class="success">
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr class="success">
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr class="success">
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}