{% extends 'base.html' %}
{% block head %}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/article/index">Home</a></li>
    <li role="presentation"><a href="/user/info">Private</a></li>
    <li role="presentation"><a href="/article/post">Blog</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>交流社区</h1>
<table class="table table-striped">
    {% for article in articles %}
    <tr>
        <td><a href="/article/read?aid={{ article.id }}">{{ article.title }}</a></td>
        <td>{{ article.username }}</td>
        <td>{{ article.date }}</td>
    </tr>
    {% else %}
    <p>社区空空如也，快来动笔写一写吧</p>
    {% endfor %}
</table>
{% endblock %}
